<html>
<body>
<h1>Your digest</h1>

{% if messages|count > 0 %}
<h2>New posts in the forum</h2>
<ul>
{% for post in messages %}
  <li>[{{post.forum_name}}]<br/>
  {{post.login}} wrote: <a href="{{ post.url }}">{{ post.subject }}</a> - {{ post.created_at.strftime('%Y-%m-%d %H:%M') }}<br/>
  {{  post.content }}
  </li>
{% endfor %}
</ul>
{% endif %}

{% if tasks|count > 0 %}
<h2>New and updated work packages</h2>
<ul>
{% for task in tasks %}
  <li><a href="{{ task.url }}">{{ task.subject }}</a> - {{ task.updated_at.strftime('%Y-%m-%d %H:%M') }}<br/>
  {{  task.description }}
  </li>
{% endfor %}
</ul>
{% endif %}

<h2>Configure this digest</h2>
Go to your <a href="{{ user.account_url }}">account settings</a> and modify the setting FrequencyDigest!
</body>
</html>
